.about {
    padding: 4rem var(--side-padding) 4rem;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 4;
}

.aboutInner {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 8rem;
}

.paragraph {
    text-align: end;
}

.imageWrapper {
    height: 80%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: calc(100% - 2*var(--side-padding));
    border-radius: 2rem;
}

.panelContainer {
    width: 100%;
    height: 100lvh;
    display: flex;
    margin-bottom: 4rem;
    position: relative;
}

.panel:first-of-type{
    z-index: 2;
}

.panel {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: end;
    justify-content: space-between;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: var(--side-padding);
    position: absolute;
    top: 0;
    left: 0;
}

.h5 {
    text-align: end;
    z-index: 1;
    position: relative;
}

.p {
    z-index: 1;
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.gradient {
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(180deg, rgba(23, 25, 30, 0.4) 0%, var(--background-color) 100%);
    background: -webkit-linear-gradient(180deg, rgba(23, 25, 30, 0.4) 0%, var(--background-color) 100%);
    background: linear-gradient(180deg, rgba(23, 25, 30, 0.4) 0%, var(--background-color) 100%);
    position: absolute;
}


@media (max-width: 1400px) {
    .aboutInner {
        grid-template-columns: 2fr 3fr;
        gap: 4rem;
    }
}

@media (max-width: 992px) {
    .aboutInner {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .paragraph {
        text-align: start;
    }

    .panel {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2rem;
    }

    .h5 {
        text-align: start;

    }
}

@media (max-width: 576px) {
    .panel {
        padding-bottom: 6rem;
    }
}