:root {
  --max-width: 1600px;
  --foreground-color: #fff;
  --background-color: #17191E;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.section-padding{
  padding-left: 4rem;
  padding-right: 4rem;
}